<!DOCTYPE html>
<html
  data-navigation-type="default"
  data-navbar-horizontal-shape="default"
  lang="en-US"
  dir="ltr"
>
  <!-- Mirrored from prium.github.io/phoenix/v1.16.0/pages/authentication/split/sign-in.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 22 May 2024 23:50:38 GMT -->
  <!-- Added by HTTrack --><meta
    http-equiv="content-type"
    content="text/html;charset=utf-8"
  /><!-- /Added by HTTrack -->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>UBEMSA ACADEMIC BOARD</title>

    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="manifest" href="assets/img/favicons/manifest.json" />
    <meta
      name="msapplication-TileImage"
      content="assets/img/favicons/mstile-150x150.png"
    />
    <meta name="theme-color" content="#ffffff" />
    <script src="vendors/simplebar/simplebar.min.js"></script>
    <script src="assets/js/config.js"></script>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
      rel="stylesheet"
    />
    <link href="vendors/simplebar/simplebar.min.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="unicons.iconscout.com/release/v4.0.8/css/line.css"
    />
    <link
      href="assets/css/theme-rtl.min.css"
      type="text/css"
      rel="stylesheet"
      id="style-rtl"
    />
    <link
      href="assets/css/theme.min.css"
      type="text/css"
      rel="stylesheet"
      id="style-default"
    />
    <link
      href="assets/css/user-rtl.min.css"
      type="text/css"
      rel="stylesheet"
      id="user-style-rtl"
    />
    <link
      href="assets/css/user.min.css"
      type="text/css"
      rel="stylesheet"
      id="user-style-default"
    />
    <script>
      var phoenixIsRTL = window.config.config.phoenixIsRTL;
      if (phoenixIsRTL) {
        var linkDefault = document.getElementById("style-default");
        var userLinkDefault = document.getElementById("user-style-default");
        linkDefault.setAttribute("disabled", true);
        userLinkDefault.setAttribute("disabled", true);
        document.querySelector("html").setAttribute("dir", "rtl");
      } else {
        var linkRTL = document.getElementById("style-rtl");
        var userLinkRTL = document.getElementById("user-style-rtl");
        linkRTL.setAttribute("disabled", true);
        userLinkRTL.setAttribute("disabled", true);
      }
    </script>
  </head>

  <body>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <div class="row vh-100 g-0">
        <div class="col-lg-6 position-relative d-none d-lg-block">
          <div
            class="bg-holder"
            style="background-image: url(assets/img/bg/30.png)"
          ></div>
          <!--/.bg-holder-->
        </div>
        <div class="col-lg-6">
          <div class="row flex-center h-100 g-0 px-4 px-sm-0">
            <div class="col col-sm-6 col-lg-7 col-xl-6">
              <a class="d-flex flex-center text-decoration-none mb-4" href="/">
                <div
                  class="d-flex align-items-center fw-bolder fs-3 d-inline-block"
                >
                  UBEMSA 
                </div>
              </a>
              <div class="text-center mb-7">
                <p class="text-body-tertiary">ACADEMIC BOARD</p>
                <p class="text-body-tertiary">Enter your name and mat number to get a team</p>
              </div>
              <div class="position-relative">
                <form action= "/ubemsa" method="POST">
                  <!-- Display error message -->
                  <% if (errorMessage) { %>
                  <div style="color: red"><%= errorMessage %></div>
                  <% } %>
                  <div class="mb-3 text-start">
                    <label class="form-label" for="fname">Full Name</label>
                    <div class="form-icon-container">
                      <input
                        class="form-control form-icon-input"
                        id="fname"
                        type="text"
                        placeholder="Full name"
                        name="fname"
                      /><span
                        class="fas fa-user text-body fs-9 form-icon"
                      ></span>
                    </div>
                  </div>
                  <div class="mb-3 text-start">
                    <label class="form-label" for="mnumber">Mat Number</label>
                    <div class="form-icon-container">
                      <input
                        class="form-control form-icon-input"
                        id="mnumber"
                        type="text"
                        placeholder="mat number"
                        name="mnumber"
                      /><span
                        class="fas fa-user text-body fs-9 form-icon"
                      ></span>
                    </div>
                    <div class="mb-3 text-start">
                      <label class="form-label" for="level">Select Level</label>
                      <div class="form-icon-container">
                        <select name="level"  class="form-control form-icon-input" id="level">
                          <option value="">-- Current Level --</option>
                          <ul>
                            <% level.forEach(function(lev){ %>
                          <option value=<%= lev %>><%= lev %></option>
                            <% }); %>
                          </ul>

                        </select>

                       <span
                          class="fas fa-user text-body fs-9 form-icon"
                        ></span>
                      </div>
                  </div>
                  </div>
                  <button class="btn btn-primary w-100 mb-3">Get a Group</button>
                </form>
              </div>
              <div class="text-center">
                <a class="fs-9 fw-bold" href="/register">check Groups</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="vendors/popper/popper.min.js"></script>
    <script src="vendors/bootstrap/bootstrap.min.js"></script>
    <script src="vendors/anchorjs/anchor.min.js"></script>
    <script src="vendors/is/is.min.js"></script>
    <script src="vendors/fontawesome/all.min.js"></script>
    <script src="vendors/lodash/lodash.min.js"></script>
    <script src="polyfill.io/v3/polyfill.min58be.js?features=window.scroll"></script>
    <script src="vendors/list.js/list.min.js"></script>
    <script src="vendors/feather-icons/feather.min.js"></script>
    <script src="vendors/dayjs/dayjs.min.js"></script>
    <script src="assets/js/phoenix.js"></script>
  </body>
</html>
